trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self

- task: AWSCLI@1
  inputs:
    awsCredentials: 'AWS-OIDC-Connection'
    regionName: 'us-west-2'
    awsCommand: 'sts'
    awsSubCommand: 'get-caller-identity'
