trigger:
- main

pool:
  #vmImage: ubuntu-latest
  name: ado-agent-pat

steps:
- checkout: self

- task: AWSCLI@1
  inputs:
    awsCredentials: 'aws-oidc'
    regionName: 'us-west-2'
    awsCommand: 'sts'
    awsSubCommand: 'get-caller-identity'
